@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfpro";
  src: url("/fonts/sfpro.woff2");
}

@layer base {
  .font-sf {
    font-family: sfpro;
  }
  .bg-support {
    background-image: url("/main/2202.jpeg");
    background-attachment: fixed;
    background-position: 50% -10px;
    backface-visibility: 10;
  }
  .bg-support::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(
      0,
      0,
      0,
      0.2
    ); /* Adjust the opacity here (0.3 for 30% darkness) */
    z-index: 1;
  }
}
