@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
    border-radius: 6px; /* roundness of the scrollbar handle */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the scrollbar track */
  }

  ::-webkit-scrollbar-corner {
    background: #f1f1f1; /* color of the scrollbar corner */
  }

  .form label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }
  .form input,
  textarea {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
  }
}
